/*----------css file for about page-------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image: url(chooksbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

/*----------container-------------*/
.container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
}

/*----------header-------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
    margin-left: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}


.header {
    font-family: Arial,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    margin-bottom: 30px;
    
}

.header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----profile 1------*/
.profile{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}

.profile img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
  
}

.profile-info {
    text-align: left;
    max-width: 1000px;
    
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 2------*/
.profile2 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile2 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile2-info {
    text-align: left;
    max-width: 1000px;
}

.profile2-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2; 
}

.profile2-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2; 
}
.profile2-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}




/*----profile 3------*/
.profile3 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile3 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile3-info {
    text-align: left;
    max-width: 1000px;
}

.profile3-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile3-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile3-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}


/*----profile 4------*/

.profile4 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile4 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile4-info {
    text-align: left;
    max-width: 1000px;
}

.profile4-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile4-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile4-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 5------*/

.profile5 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile5 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile5-info {
    text-align: left;
    max-width: 1000px;
}

.profile5-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile5-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile5-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 6------*/
.profile6 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile6 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile6-info {
    text-align: left;
    max-width: 1000px;
}

.profile6-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile6-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile6-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 7------*/
.profile7{
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    margin-top: 30px;
    
}

.profile7 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile7-info {
    text-align: left;
    max-width: 1000px;
    
}

.profile7-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile7-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile7-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}


/*----profile 8------*/
.profile8 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile8 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile8-info {
    text-align: left;
    max-width: 1000px;
}

.profile8-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile8-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile8-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 9------*/
.profile9 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile9 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile9-info {
    text-align: left;
    max-width: 1000px;
}

.profile9-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile9-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile9-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*----profile 10------*/
.profile10 {
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.profile10 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile10-info {
    text-align: left;
    max-width: 1000px;
}

.profile10-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile10-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile10-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}
/*----profile 11------*/

.profile11 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile11 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile11-info {
    text-align: left;
    max-width: 1000px;
}

.profile11-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile11-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile11-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px;
}

/*----profile 12------*/

.profile12 {
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    margin-top: 30px;
}


.profile12 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile12-info {
    text-align: left;
    max-width: 1000px;
}

.profile12-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile12-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.profile12-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px;
}

/*----profile 13------*/

.profile13 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;

    margin-top: 30px;
}


.profile13 img {
    max-width: 250px;
    border-radius: 15%;
    margin-right: 20px;
}

.profile13-info {
    text-align: left;
    max-width: 1000px;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.profile-info h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2; 
}
.profile13-info p {
    font-size: 16px;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

/*-------------read more----------- */

#invisible-text, #invisible-text2,#invisible-text3,#invisible-text4,#invisible-text5,#invisible-text6,#invisible-text7,#invisible-text8,#invisible-text9,#invisible-text10,#invisible-text11,#invisible-text12,#invisible-text13{
    display: none;
    line-height: 1.6; 
    letter-spacing: 0.5px; 
}

#btn,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9,#btn10,#btn11,#btn12,#btn13{
    display: inline-block;
    padding:10px 20px; ;
    margin-top: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
 }

 /*----------hover-------------*/

 #btn,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9,#btn10,#btn11,#btn12,#btn13:hover{
  background-color: red;
}