/*----------announcement page-------------*/
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('announcementBG.png'); 
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------header-------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
    margin-left: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

.content {
    width: 100%;
    padding-top: 80px; 
    display: flex;
    justify-content: center;
}

/*----------announcement container-------------*/
.announcement-container {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.243); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.announcement-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.announcement {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fafafaab;
}

.announcement img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.announcement-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement h2 {
    margin: 0 0 10px;
}

.announcement p {
    margin: 5px 0;
}

/*----------responsive design-------------*/
@media (max-width: 768px) {
    .announcement-container {
        width: 90%;
        padding: 10px;
    }
    .announcement {
        flex-direction: column;
        align-items: center;
    }
    .announcement img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
