/*----------css file for branches page-------------*/
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('branchesBG.png'); 
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}

/*----------header-------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
    margin-left: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}


/*----------gallery item for branches-------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px 20px; 
    width: 100%;
    max-width: 1200px;
    margin-top: 140px;

}

.gallery-item {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.315);
    background-color: #00000035;
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gallery-item h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #fff;
    margin:0;
}

.gallery-item .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.788);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    display: inline;
    height: 100%;
    width: 100%;
}

/*----------responsize design-------------*/
@media (max-width: 768px) {
    .gallery {
        padding: 70px 10px 20px; 
    }
    .gallery-item {
        width: 80%; 
    }
}
