* 
/*----------CSS file for menu page-------------*/
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.menu {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

/*---------Heading-------------*/

.heading {
    background: url('CTG-scaled.jpg') no-repeat center center/cover;
    height: 350px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 100px 0 30px 0;
    grid-column: 1 / -1;
    text-align: center;
}

.heading > h1 {
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.heading > h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

/*----------header-------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #fffdfd;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

/*---------Menu sections-------------*/
.section-title {
    grid-column: 1 / -1;
    text-align: center;
    margin: 20px 0;
}

.section-title > h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: red;
    display: inline-block;
    padding-bottom: 5px;
}

/*---------Food items-------------*/
.food-items, .frozen-products {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
    margin: 0 20px;
    overflow: hidden;
}

.food-items img, .frozen-products img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*---------details-------------*/
.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
}

.details-sub {
    display: grid;
    grid-template-columns: auto auto;
}

.details-sub > h5 {
    font-weight: 600;
    font-size: 18px;
}

.price {
    text-align: left;
    color: red;
}

.details > p {
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

/* Media Queries */
@media (max-width: 760px) {
    .menu {
        width: 95%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .heading {
        padding: 60px 0 10px 0;
        height: auto;
    }

    .heading > h1 {
        font-size: 24px;
        letter-spacing: 5px;
    }

    .heading > h3 {
        font-size: 18px;
        letter-spacing: 3px;
    }

    .food-items, .frozen-products {
        margin: 0;
    }

    .section-title {
        margin: 10px 0;
    }

    .section-title > h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }
}
